absl-py
attrs
bidict
blinker
click
colorama
contourpy
cycler
flask
Flask-Cors
Flask-SocketIO
flatbuffers
fonttools
gunicorn
h11
hands
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mediapipe
numpy
opencv-contrib-python
opencv-python
packaging
pillow
protobuf
pyparsing
PyQt5
pyqt5-plugins
PyQt5-Qt5
PyQt5-sip
pyqt5-tools
python-dateutil
python-dotenv
python-engineio
python-socketio
qt5-applications
qt5-tools
scikit-learn
scipy
simple-websocket
six
threadpoolctl
werkzeug
wsproto
zipp